body, html, #content {
	height: 100%;
	margin: 0;
}

div {
	box-sizing: border-box;
}

.board {
	padding: 10px;
}

.card {
	box-sizing: border-box;
	height: 220px;
	width: 160px;
}

.center {
	text-align: center;
}

.col {
	float: left;
	height: 100%;
	overflow-y: auto;
	position: relative;
}

.col-2 {
	width: 16.66%;
}

.col-4 {
	width: 33.33%;
}

.col-8 {
	width: 66.66%;
}

#cardsInPlay {
	height: 67%;
}

#playerCards {
	height: 33%;
}

.deck .card, .discard .card {
	position: absolute;
	transform: translateX(-50%);
}

@media screen and (max-width: 768px) {
	.card {
		height: 22vw;
		width: 16vw;
	}
}

@media screen and (max-width: 480px) {
	.card {
		height: 55vw;
		width: 40vw;
	}
}