body, html, #board {
	height: 100%;
	margin: 0;
}

div {
	box-sizing: border-box;
}

.card {
	border-radius: 10px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	display: inline-block;
	height: 210px;
	vertical-align: top;
	width: 150px;
	word-wrap: break-word;
}

.center {
	text-align: center;
}

.col {
	border: 1px solid #000;
	display: inline-block;
	float: left;
	height: 100%;
	overflow-y: auto;
	position: relative;
}

.col-2 {
	width: 16.66%;
}

.col-4 {
	width: 33.33%;
}

.col-8 {
	width: 66.66%;
}

.row {
	padding: 0 15px;
	width: 100%;
}

.row-4 {
	height: 33.33%;
}

.row-8 {
	height: 66.66%;
}

#cardsInPlay {
	padding-top: 15px;
}

#playerCards {
	padding-bottom: 15px;
}

#deck .card, #discard .card {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
	.card {
		border-radius: 5px;
		height: 105px;
		width: 75px;
	}

	.col {
		overflow-y: unset;
	}

	.col-sm-10 {
		width: 83.33%;
	}

	.col-sm-12 {
		width: 100%;
	}

	.group {
		display: inline-block;
	}

	#deck, #discard {
		float: left;
	}

	#hand {
		float: right;
	}

	.row {
		overflow-y: auto;
	}

	.row-sm-fit {
		height: fit-content;
	}

	.row-sm-4 {
		height: 33.33%;
	}

	.row-sm-6 {
		height: 50%;
	}

	.row-sm-8 {
		height: 66.66%;
	}
}